html {
  background: burlywood;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  color: #fff;
}
html,
body {
  font-family: serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  /* -webkit-user-select: none; */
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  /* background: burlywood; */
}

.section {
  min-height: 100vh;
}
img {
  max-width: 100%;
}
/* h1,h2,h3,h4{
  font-family: sans-serif;
  font-weight: 400;
} */

h1 {
  font-size: 9vw;
  line-height: 1.2;
  margin: 0;
}

h2 {
  font-size: 5vw;
  line-height: 1.2;
  margin: 0;
}

h3 {
  font-size: 3vw;
  line-height: 1.2;
  margin: 0;
}
.contain {
  margin: 0 10%;
}
.hero-text {
  width: 80%;
  float: left;
}
.cat {
  font-size: 18px;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  margin-top: 30px;
}
.mb {
  margin-bottom: 30px;
}
.description {
  width: 100%;
  float: left;
  margin-bottom: 1rem;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#bg img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  max-width: 900px;
}

.img-one {
  max-width: 80%;
}
